<!-- Navbar toggler -->
<input class='navbar-isExtend hide' id='navbar-extend' type='checkbox'/>

<nav class='navbar text-light'>
    <div class='container'>
        <a class='navbar-brand' href='/'>MYHaven</a>

        <!-- Burger menu on smaller screens -->
        <label class="navbar-toggle"  for='navbar-extend' aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class='navbar-toggle__center'></span>
        </label>
        
        <!-- Navbar displayed on large screen only -->
        <ul class="navbar-nav nav-lg-screen">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/partner" class="nav-link">Partner</a>
            </li>
            <li class="nav-item">
                <a href="/hotels" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Sign In/Register</a>
            </li>
            <li class="nav-item">
                <a href="/jobs" class="nav-link">Jobs</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Navigation Menu for mobile screens -->
<nav class="nav-sm-screen">
    <h4 class="display-4">Menu</h4>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/partner" class="nav-link">Partner</a>
        </li>
        <li class="nav-item">
            <a href="/hotels" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Sign In/Register</a>
        </li>
        <li class="nav-item">
            <a href="/jobs" class="nav-link">Jobs</a>
        </li>
    </ul>
</nav>

