@import "nav_footer";


body {
    background-color: #ffffff;
    background-image: linear-gradient(to right, #f6f6f6, #f6f6f6 20px, #ffffff 20px, #ffffff );
    background-size: 40px 100%;
}

.header {
    padding: var(--nav-height) 10px 0 10px;
    margin: 3em auto;
}

.header__title {
    @include setFont(5rem, $weight: bold);
    margin: .75em 0 .25em 0;
}

.header__desc {
    @include setFont(2rem, $weight: lighter);
    margin-bottom: 2em;
}

.header__addr {
    @include setFont(2rem, $weight: lighter);
    margin: 2em 0 .5em 0;
}

.header__btn {
    @include setFont(2rem, $weight: lighter);
    margin-bottom: 5em;
}

.jumbotron-fluid {
    background-color: rgb(54, 69, 119);
    padding: 70px 0;
}

#map {
    max-width: 75%;
    margin:auto;
    min-height: 500px;
}

.info_window {
    @include setFont(1.5rem);

    h4 { font-size: 2rem; }
}